.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  footer {
    > button:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.replying {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  > [role="progressbar"] {
    max-width: 300px;
  }
}

.box {
  background-color: #f4f5f7;
  border-color: #f4f5f7;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  display: flex;
  max-width: 220px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 44px);
}

.icon__container {
  width: 36px;
  height: 36px;
  position: relative;
  margin-right: 8px;
  &::before {
    border-radius: 22%;
    box-shadow: inset 0 0 0 1px #0000001a;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 22%;
}

.status {
  margin: 40px 0 10px 0;
}

.done {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done__icon {
  width: 90px;
}

.done__button {
  margin-top: 24px;
}

.reasons {
  text-align: left;
}
