.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  > h3 {
    margin-bottom: 20px;
  }
}

.buttons {
  align-self: flex-end;
  margin-top: auto;
  > button:not(:last-child) {
    margin-right: 12px;
  }
}

.option {
  color: #172b4d;
  display: block;
  font-size: inherit;
  padding: 6px 12px;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  img {
    margin-right: 4px;
  }
}

.option--focused {
  composes: option;
  background-color: #f4f5f7;
  box-shadow: rgb(0 82 204) 2px 0px 0px inset;
}

.content {
  margin-bottom: 20px;
}
