body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  min-height: 600px;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  max-width: 992px;
}
