.progress__container > div {
  width: 100%;
}

.form__container {
  max-width: 480px;
  align-self: center;
  width: 100%;
  margin: 24px 0;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.platform {
  background-color: #fafbfc;
  border-color: #dfe1e6;
  color: #091e42;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #ebecf0;
  }
}

.platform-selected {
  composes: platform;
  border-color: #4c9aff;
  background-color: #deebff;
  &:hover {
    background-color: #deebff;
  }
}

.platform__name {
  font-weight: 500;
}

.platform__logo {
  width: 50px;
  margin-right: 8px;
}

.done_container {
  text-align: center;
  padding: 20px;
}

.done_icon {
  width: 90px;
}

.done_button {
  margin-top: 24px;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 80px 20px;
}

.guide__img {
  width: 100%;
  border-radius: 4px;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 31%) 0px 0px 1px 0px;
}

.guide__content {
  font-weight: 500;
  font-weight: normal;
}

.error {
  margin-bottom: 12px;
}

.guide__section {
  margin-bottom: 24px;
}
