.reviews__container {
  background-color: #fafbfc;
  border-color: #dfe1e6;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 24px;
  display: flex;
}

.reviews {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 500px;
  position: relative;
}

.reviews__sidebar {
  width: 240px;
  padding: 8px;
  border-color: #dfe1e6;
  border-right-width: 1px;
  border-right-style: solid;
  flex-shrink: 0;
}

.pagination {
  padding: 8px;
  border-color: #dfe1e6;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  justify-content: center;
}

.reviews__list {
  flex-grow: 1;
}

.reviews__loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(255 255 255 / 80%);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.reasons {
  text-align: left;
}

.pagination__cursor {
  padding: 8px;
  border-color: #dfe1e6;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  justify-content: space-between;
}
