.app {
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ebecf0;
  }
}

.app--selected {
  composes: app;
  background-color: #deebff !important;
  box-shadow: rgb(0 82 204) 2px 0px 0px inset;
}

.app-box {
  composes: app;
  background-color: #f4f5f7;
  border-color: #f4f5f7;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  &:hover {
    background-color: #ebecf0;
    border-color: #ebecf0;
  }
}

.app-box--open {
  composes: app-box;
  background-color: white !important;
  border-color: #4c9aff !important;
}

.icon__container {
  width: 36px;
  height: 36px;
  position: relative;
  margin-right: 8px;
  &::before {
    border-radius: 22%;
    box-shadow: inset 0 0 0 1px #0000001a;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 22%;
}
