.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  footer {
    > button:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.pull-left {
  margin-right: auto !important;
}
