.icon__container {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 8px;
  &::before {
    border-radius: 22%;
    box-shadow: inset 0 0 0 1px #0000001a;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 22%;
}

.app {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.app__projects {
  margin-left: auto;
  max-width: 300px;
  width: 100%;
}

.app__details {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .app {
    align-items: baseline;
    flex-direction: column;
  }

  .app__projects {
    margin-top: 8px;
    max-width: none;
    width: 100%;
  }
}
