.connection {
  background-color: #fafbfc;
  border-color: #dfe1e6;
  color: #091e42;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 12px;
}

.connection__details {
  color: #7a869a;
  padding: 8px;
  padding-top: 0;
}

.connection__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.connection__apps {
  background: white;
  border-radius: 0 0 4px 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #dfe1e6;
  padding: 8px;
}

.platform {
  display: flex;
}

.platform__logo {
  width: 20px;
  margin-right: 8px;
}

.platform__name {
  font-weight: 500;
}

.apps__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__form {
  display: flex;
  margin: 0;
  > :first-child {
    margin-right: 8px;
    margin-top: 0;
  }
}
