.review {
  padding: 8px;
  border-color: #dfe1e6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.review__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > small {
    margin: 0;
  }
}

.review__title {
  font-weight: 700;
  word-break: break-word;
}

.review__content {
  font-weight: 500;
  word-break: break-word;
}

.review__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.review__details {
  font-weight: 500;
  align-self: flex-end;
}

.link {
  cursor: pointer;
}

.review__reply__content {
  font-weight: 500;
  margin-top: 0;
}

.review__reply {
  margin-top: 12px;
}

.review__actions {
  > button:not(:last-child) {
    margin-right: 8px;
  }
}
